name: Mise à jour Rika Domo

on:
  schedule:
    - cron: '*/15 * * * *' # S'exécute toutes les 5 minutes
  workflow_dispatch: # Permet de lancer le script manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4 # Passage en v4
        
      - name: Installer Python
        uses: actions/setup-python@v5 # Passage en v5
        with:
          python-version: '3.11' # Version moderne et stable
          
      - name: Installer les dépendances
        run: pip install -r backend/requirements.txt
        
      - name: Exécuter le script
        env:
          RIKA_EMAIL: ${{ secrets.RIKA_EMAIL }}
          RIKA_PASSWORD: ${{ secrets.RIKA_PASSWORD }}
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: python backend/rika.py
        
